{% extends 'base.html' %}
{% block title %}
    Departamentos
{% endblock %}
{% block main %}
<div id="homenavbar">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white">
             <a class="navbar-brand " href="#">Sistema de gestão RH</a>
        <div class="collapse navbar-collapse" id="textoNavbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(Página atual)</span></a>
                </li>
                <li class="nav-item">
                    {% if usuario.funcionario.empresa %}
                        <a class="nav-link" href="{% url 'edit_empresa' usuario.funcionario.empresa.id  %}"> Editar empresa </a>
                     {% else %}
                        <a class="nav-link" href="{% url 'create_empresa' %}"> Criar empresa </a>
                     {% endif %}
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'list_funcionario' %}">Gerenciar funcionários</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'list_departamentos' %}">Gerenciar Departamentos</a>
                </li>
            </ul>
            <span class="navbar-text text-white">
              Olá,{{ usuario.funcionario.nome }}
            </span>
            <button class="btn btn-light offset-1"> <a href="{% url 'logout' %}">Sair </a></button>
        </div>
        </nav>
    </div>
    <div class="sys_content">
    {% for departamento in object_list %}
        {{ departamento }}
    {% endfor %}
    </div>
{% endblock %}
